[submodule "fault-injection-interposer"]
	path = fault-injection-interposer
	url = git@github.com:refault-artifacts/fault-injection-interposer.git
[submodule "injection-controller"]
	path = injection-controller
	url = git@github.com:refault-artifacts/injection-controller.git
[submodule "memtest"]
	path = memtest
	url = git@github.com:refault-artifacts/memtest.git
